---
default_language_version:
    python: python3.13
repos:
    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: detect-private-key
    - repo: https://github.com/golangci/golangci-lint/
      rev: v2.9.0
      hooks:
          - id: golangci-lint
          - id: golangci-lint-config-verify
          - id: golangci-lint-fmt
