---
  name: Build, package and publish
  "on":
    push:
      branches:
        - main
    pull_request:

  env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

  jobs:
    lint:
      name: Lint
      runs-on: ubuntu-latest
      permissions:
        # Required: allow read access to the content for analysis.
        contents: read
        # Optional: allow read access to pull request. Use with `only-new-issues` option.
        pull-requests: read
        # Optional: allow write access to checks to allow the action to annotate code in the PR.
        checks: write
      steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        - name: Golangci-lint
          uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1

    build:
      name: Build
      runs-on: ubuntu-latest
      needs:
        - lint
      permissions:
        packages: write
      steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3
        - name: Log in to the Container registry
          uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5
          with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
              type=raw,value=latest,enable={{is_default_branch}}
              type=raw,enable={{is_default_branch}},value={{date 'YYYY-MM-DDTHH.mm.ss' tz='UTC'}}
        - name: Build Docker image
          uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6
          with:
            context: .
            push: ${{ format('refs/heads/{0}', github.event.repository.default_branch) == github.ref }}
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:build-cache
            cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:build-cache,mode=max
